

.home{
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url("https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover; /* Resmi sayfa boyutuna sığdır */
    background-repeat: no-repeat; /* Resmi tekrar etme */
    
}

.full-screen{
    height: calc(100vh - 50px);
    margin: 0px;
}