.restaurant{
    margin: 20px;
    padding: 15px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(237 242 247 );

    
}

.restaurant-form{
    margin: 20px;
    padding: 15px;
    width:100%;
    display: block;
    background-color: rgb(237 242 247 );
}

h5{
    background-color: #f6f7ff;
    padding: 10px 10px;
    text-align: start;
}

h1{
    text-align: start;
    padding: 25px 5px 10px;
}

.rest-comment-title{
    text-align: center;
    background-color: #e3e6f1;
    padding: 10px;
    margin:  auto 10px;
    text-decoration: none;

}

.restaurant-form-button{
    box-sizing: border-box;
    margin: 60px 5px 10px 0;
    width: 49%;
    display: flex;
    border:none
}
  
.btn-grad {
    background-image: linear-gradient(to right, #614385 0%, #516395  51%, #614385  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border-color:  transparent !important;


  }
  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
